/* CSS Document */
@media only screen and (max-width: 767px){
	.call-info{
		text-align:center
	}
	 
	.social-media-icons{
		text-align: center !important;
		margin-bottom: 10px
	}
	
	h1{
	   font-size: 20px !important
	}
	
	.nordic_main h2 {
	  font-size: 20px;
	}	
	
	.nordic_main .btn-viewmore {
		margin-bottom: 30px;
		font-size: 20px;
		width: 200px;
		padding: 10px
	}	
	.navbar-brand {
	  display: block !important;
	  float: left;
	  font-size: 18px;
	  height: auto;
	  line-height: 20px;
	  padding: 15px;
	  width: 60% !important;
	}	
	.navbar-toggle {
	  background-color: transparent;
	  background-image: none;
	  border: 1px solid #ccc;
	  border-radius: 4px;
	  float: right;
	  margin-bottom: 8px;
	  margin-right: 15px;
	  margin-top: 48px !important;
	  padding: 9px 10px;
	  position: relative;
	}	
	.navbar-toggle span.icon-bar{
		border-top: 1px solid #333
	}
	
	div.search-bar input[type="text"]{
		width: 200px;
		border:1px solid #ccc;
		border-right: 0;
		border-radius: 5px;
		padding:3px 5px 5px 5px;
		margin-right: -10px;
		margin-bottom: 25px
	}
	
	.service .service-head{
		width: 90%;
	}
	.service .service-head span.heading-arrow {
	  width: 6%;
	}
	.service .Description {
	  text-align: center;
	  margin-bottom: 25px;
	}
	
	.case-studies {
	  background: url("images/case_stady_bg.jpg") repeat-x scroll center top rgba(0, 0, 0, 0);
	  height: auto;
	}
	.case-studies-header {
	  position: absolute;
	  width: 90%;
	}
	
	.case-studies h1 {
	  padding-top: 5px;
	}	
	
	.case-studies-header span {
	  width: 43%;
	}
	
	.case-studies-header span.heading-arrow {
	  border: 0 none;
	  margin: 0 2%;
	  text-align: center;
	  width: 6%;
	}
	
	.case-studies-header span.heading-arrow img{
	  margin-top: 6px
	}
	
	.case-studies p {
	  font-family: "Lato",sans-serif;
	  font-size: 14px;
	  line-height: 0.7cm;
	  margin: 0 auto;
	  opacity: 0.6;
	  padding-right: 10px;
	  padding-top: 190px;
	  text-align: justify;
	  width: 90%;
	}
	.btn-viewcase {
	  font-size: 20px;
	  width: 200px;
	}	
	
	blockquote.case-study-quote {
	  font-size: 16px;
	}	
	blockquote.case-study-quote h4 a {
	  font-size: 16px;
	}	
	
	.our-blog {
	  background: none repeat scroll 0 0 / 100% 100% #fff;
	  height: auto;
	}	
	.blog-header span {
	  border-top: 1px solid #e8e8e8;
	  display: inline-block;
	  width: 45%;
	}
	.blog-header span.heading-arrow{
	  margin: 0 2%;
	}	
	.blog-header span.heading-arrow img {
	  margin-top: 8px;
	}	
	.blog-item {
	  border: 1px solid #ccc;
	  margin-bottom: 35px;
	  width: 285px;
	}	
	
	.resources {
	  background: none repeat scroll 0 0 #a54338;
	  height: auto;
	  padding-bottom: 35px
	}	
	.resources-head span.heading-arrow {
	  border-top: medium none;
	  display: inline-block;
	  margin: 0 3%;
	  padding: 0;
	  text-align: center;
	  width: 5%;
	}	
	.resources-button1 .btn-viewmore {
	  margin: 0 auto;
	  width: 190px;
	}
	
	.resources-button2 .btn-viewmore {
	  font-size: 20px;
	}	

	.client-part{
		height: auto
	}
	
	.client-part .client-head span {
	  border-top: 1px solid #ccc;
	  display: inline-block;
	  height: 5px;
	  width: 43%;
	}		

	.client-part .client-head span.heading-arrow {
	  border-top: medium none;
	  display: inline-block;
	  margin: 0 3%;
	  text-align: center;
	  width: 8%;
	}	
	
	.client-part .client-logo{
		text-align:center
	}
	
	.client-part .client-logo img{
		display: inline-block;
		margin:20px auto !important
	}
	
	.footer {
	  background: none repeat scroll 0 0 / 100% 100% #000;
	  height: auto;
	}	
	.lets-be-social a:link, .lets-be-social a:visited {
	  background-color: #fff;
	  border-radius: 50%;
	  color: #18191a;
	  display: inline-block;
	  font-size: 24px;
	  height: 42px;
	  margin-right: 5px;
	  padding: 5px;
	  text-align: center;
	  vertical-align: middle;
	  width: 42px;
	}	
	.footer-2nd-part{
		height: auto;
		margin-top: 25px;
		padding:0 20px
	}
	
	.footer-2nd-part img {
	  padding-top: 50px;
	}
	
	.footer-2nd-part P {
	  color: #fff;
	  font-family: "Oswald",sans-serif;
	  font-size: 18.48px;
	  font-weight: 300;
	  padding-top: 65px;
	  text-align: center;
	}		
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
	h1{
	   font-size: 32px !important
	}
	.nordic_main h2 {
	  color: #333;
	  font-family: "Oswald",sans-serif;
	  font-size: 20px;
	  font-weight: 300;
	  text-align: center;
	}	
	.main_menu ul li {
	  display: inline-block;
	  margin: 0 10px;
	}
	
	.main_menu ul li a {
	  color: #000;
	  font-family: "Oswald",sans-serif;
	  font-size: 14px;
	  padding: 25px 0 0;
	}	
	
	.nordic_main p {
	  font-family: "Lato",sans-serif;
	  font-size: 14px;
	  font-weight: 300;
	  line-height: 0.8cm;
	  text-align: center;
	}
	
	.nordic_main .btn-viewmore {
	  border: 1px solid #000;
	  border-radius: 5px;
	  color: #333;
	  display: block;
	  font-family: "Oswald",sans-serif;
	  font-size: 24px;
	  font-weight: 300;
	  margin: 35px auto 30px;
	  padding: 10px;
	  text-decoration: none;
	  text-transform: uppercase;
	  width: 205px;
	}	
	
	div.round-border-icon {
	  border: 3px solid #fff;
	  border-radius: 50%;
	  height: 80px;
	  margin: 0 auto;
	  text-align: center;
	  width: 80px;
	}
	
	div.round-border-icon img {
	  margin: 19px auto 0;
	}
	
	.service .Description h2 {
	  color: #fff;
	  font-family: "Oswald",sans-serif;
	  font-size: 14px;
	  font-weight: 300;
	  padding-bottom: 10px;
	  text-align: center;
	  text-transform: uppercase;
	}	
	
	.carousel-inner .item img{
		max-width: 40%
	}

	.case-studies h1 {
	  padding-top: 25px;
	}

	.case-studies-header span {
	  border-top: 1px solid #e8e8e8;
	  display: inline-block;
	  width: 45%;
	}
	
	.case-studies-header span.heading-arrow {
	  border: 0 none;
	  text-align: center;
	  width: 10%;
	}
	
	.case-studies-header span.heading-arrow img {
		margin-top: 6px
	}
	
	.case-studies p {
	  font-family: "Lato",sans-serif;
	  font-size: 16px;
	  line-height: 0.7cm;
	  opacity: 0.6;
	  padding-right: 10px;
	  padding-top: 130px;
	  text-align: center;
	  width: 60%;
	}
	
	blockquote.case-study-quote {
	  background-position: 0 15px;
	  background-repeat: no-repeat;
	  border-left: 0 none;
	  font-family: "Lato",sans-serif;
	  font-size: 16px;
	  margin: 5px;
	  padding-top: 15px;
	  text-align: center;
	  text-indent: 5px;
	  width: 90%;
	}
	
	.btn-viewcase {
	  border: 1px solid #000;
	  border-radius: 5px;
	  color: #333;
	  display: block;
	  font-family: "Oswald",sans-serif;
	  font-size: 20px;
	  font-weight: 300;
	  margin: 35px auto 0;
	  padding: 10px;
	  text-decoration: none;
	  text-transform: uppercase;
	  width: 220px;
	}	

	.our-blog {
	  background: none repeat scroll 0 0 / 100% 100% #fff;
	  height: auto;
	  padding-bottom: 35px
	}
	
	.blog-header span.heading-arrow img{
		margin-top: 6px
	}	
	
	.blog-item {
	  border: 1px solid #ccc;
	  width: 99%;
	}
	
	.our-blog h2 {
	  color: #333;
	  font-family: "Oswald",sans-serif;
	  font-size: 14px;
	  font-weight: 300;
	  margin: 15px;
	  text-align: left;
	}
	
	.blog-item .blog-item-meta p a.readmore:link, .blog-item .blog-item-meta p a.readmore:visited {
	  background: url("../images/readmore-arrow.png") no-repeat scroll 68% 4px rgba(0, 0, 0, 0);
	  font-size: 14px;
	}
	
	.resources-description img {
	  float: left;
	  margin-right: 10px;
	  max-width: 100px;
	}
	
	.resources-description p {
	  color: #fff;
	  font-family: "Lato",sans-serif;
	  font-size: 14px;
	  font-weight: 300;
	  letter-spacing: 0.01cm;
	  line-height: 0.5cm;
	  text-align: left;
	}
	
	.client-part .client-logo img {
	  display: inline-block;
	  margin-right: 25px;
	  max-width: 120px;
	}	


	.footer {
	  background: none repeat scroll 0 0 / 100% 100% #000;
	  height: auto;
	}	
	.footer-1st-part h2 {
	  color: #fff;
	  font-family: "Oswald",sans-serif;
	  font-size: 24px;
	  font-weight: 300;
	}
	
	.footer-1st-part p a {
	  color: #fff;
	  font-family: "Lato",sans-serif;
	  font-size: 14px;
	  font-weight: 300;
	  text-align: left;
	}

	.footer-2nd-part {
	  background: none repeat scroll 0 0 #404040;
	  height: auto;
	  padding: 0 50px 40px;
	}

	.footer-2nd-part img {
	  padding-top: 65px;
	}

	.footer-3rd-part h2 {
	  color: #fff;
	  font-family: "Oswald",sans-serif;
	  font-size: 24px;
	  font-weight: 300;
	  text-align: left;
	}
	
	.footer-3rd-part p {
	  color: #fff;
	  font-family: "Lato",sans-serif;
	  font-size: 14px;
	  font-weight: 300;
	  text-align: left;
	}
	
	.get-in-info p {
	  color: #fff;
	  font-family: "Lato",sans-serif;
	  font-size: 14px;
	  text-align: left;
	}
	
	.lets-be-social a:link, .lets-be-social a:visited {
	  background-color: #fff;
	  border-radius: 50%;
	  color: #18191a;
	  display: inline-block;
	  font-size: 18px;
	  height: 34px;
	  margin-right: 5px;
	  padding: 6px;
	  text-align: center;
	  vertical-align: middle;
	  width: 34px;
	}				
}