@import url(http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
/*
font-family: 'Oswald', sans-serif;
font-family: 'Lato', sans-serif;
*/

*{margin:0; padding:0;}
body{
	background:#FFF;
	background-size:100% 100%;} 
	
h1{
	text-align: center;
	font-family: "Oswald",sans-serif;
    font-size: 50px;
    font-weight: 300;
}
/*-------------------------header--------------------------------*/
.header{
	background:#FFF;
	background-size:100% 100%;}
.header_top {
  background: none repeat scroll 0 0 #f5f5f5;
  height: auto;
  padding-top: 10px;
}

.header_top .social-media-icons{
	text-align: right
}

.header_top .social-media-icons a {
  background-color: #999;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  height: 25px;
  text-align: center;
  width: 25px;
}

.header_top .social-media-icons a:hover{
	background-color: #bc2720;
}
.header_top p{
	font-size:15px;
	margin-right: 20px;
	color:#999;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	display: inline-block
	}
.header_top p img{
	display:inline-block;
}
.header_top h3{
	color:#999;
	font-size:15px;
	display:inline;
	font-family: 'Oswald', sans-serif;
	font-weight: 300
	}
.header_top h3 img{
	padding-right:3px;
	display:inline;}
.logo{
	padding-top:15px;}
.navbar {
	margin-bottom: 0
}	
.navbar-brand {
  display: block !important;
  float: left;
  font-size: 18px;
  height: auto;
  line-height: 20px;
  padding: 0 0 15px 0;
  width: 100% !important;
}	
.navbar-toggle {
  background-color: transparent;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  float: right;
  margin-bottom: 8px;
  margin-right: 15px;
  margin-top: 8px !important;
  padding: 9px 10px;
  position: relative;
}	
.navbar-toggle{
	border:2px solid #999;
	}
icon-bar{
	background-color:#999;} 

.main_menu ul li{
	margin:0 15px;
	display: inline-block
}
.main_menu ul li a{
	font-size:18px;
	color:#000;
	padding:25px 0px 0;
	font-family: 'Oswald', sans-serif;
}

.main_menu ul li a:hover,
.main_menu ul li.active a{
	color: #cc3333;
	border-bottom: 2px solid #cc3333;
	background: none
}

div.search-bar{
	text-align: right;
	margin-top: 20px;
	margin-right: 15px
}
div.search-bar input[type="text"]{
	width: 240px;
	border:1px solid #ccc;
	border-right: 0;
	border-radius: 5px;
	padding:3px 5px 5px 5px;
	margin-right: -10px
}
div.search-bar button[type="submit"]{
	border: 0;
}
/*-------------------------banner--------------------------*/
.banner{
	background: #505152	
}
.banner_title{
	padding-top:110px;
	padding-bottom:115px;
	}
.banner_title h3{
	text-align:center;
	font-family: 'Oswald', sans-serif;
	font-size:50px;
	font-weight:200;
	color:#FFF;
	}
/*----------------what is team nordic----------------*/
.what_is_nordic{
	background:#FFF;
	background-size:100% 100%;
	}
.what_is_nordic h1 {
	background: url(images/bottom_head_arrow.png) no-repeat bottom center;
	border-bottom: 1px solid #ccc;
	font-family: "Oswald",sans-serif;
	font-size: 50px;
	font-weight: 300;
	margin: 35px 50px 0px;
	padding-bottom: 35px;
	text-align: center;
}
.what_is_nordic .heading.animation{
	opacity: 1
}
.what_is_nordic .heading{
	text-align: center;
	padding:0 10%;
	opacity:0
}
.what_is_nordic .heading img{
	margin-top: -25px
}
.nordic_main{
	opacity:0
}
.nordic_main.animation{
	opacity: 1
}
.nordic_main h2{
	font-size:30px;
	text-align:center;
	font-weight:300;
	font-family: 'Oswald', sans-serif;
	color: #333
}
.nordic_main p{
	font-size:16px;
	text-align:center;
	font-family: 'Lato', sans-serif;
	font-weight:300;
	line-height: 0.8cm
	}
.nordic_main .btn-viewmore{
	width: 285px;
	display: block;
	border:1px solid #000;
	border-radius:5px;
	font-weight:300;
	padding: 20px;
	font-size:30px;
	color:#333;
	text-decoration:none;
	font-family: 'Oswald', sans-serif;	
	margin: 35px auto 0 auto;
	text-transform: uppercase
	}
.nordic_main h3 a{
	font-size:30px;
	color:#000;
	text-decoration:none;
	font-family: 'Oswald', sans-serif;
	}
/*--------------------------service---------------------------------*/	
.service {
  background: url("images/service_bg.png") no-repeat scroll left top / 100% 100% rgba(0, 0, 0, 0);
  height: auto;
  padding: 55px 0;
}

.service h1{
	color: #fff	
}

.service .service-head{
	width: 70%;
	margin:0 auto 40px;
	text-transform: uppercase;
	opacity:0	
}

.service .service-head.animation{
	opacity: 1
}

.service .service-head span{
	display: inline-block;
	width: 45%;
	height: 5px;
	border-top: 1px solid #fff
	}
	
.service .service-head span.heading-arrow {
	border-top: medium none;
	display: inline-block;
	margin: 0 2%;
	padding: 0;
	text-align: center;
	width: 2%;
}
.service .Description{
	text-align: center;
	opacity: 0
}

.service .Description.animation{
	opacity: 1
}

.service .Description h2{
  font-family: "Oswald",sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #fff	
}

.service .Description p{
  font-family: "Lato",sans-serif;
  font-size: 13.59px;
  font-weight: 300;
  text-align: center;
  color: #fff	
}

div.round-border-icon{
	width: 122px;
	height:122px;
	border:3px solid #fff;
	border-radius: 50%;
	margin:0 auto;
	text-align: center
}
div.round-border-icon:hover{
	background-color: #fff;
	border:3px solid #333;
	color: #333
}

div.round-border-icon img{
	margin: 39px auto 0;
}
/*---------------------------------case stadies------------------------------*/
.case-studies{
	background:url(images/case_stady_bg.jpg) repeat-x top center; 
	height:652px;
	}

.case-studies-header{
	width: 50%;
	position: absolute
}

.case-studies-header span{
	display: inline-block;
	width: 47%;
	border-top: 1px solid #e8e8e8
}

.case-studies-header span.heading-arrow{
	width: 6%;
	border: 0;
	text-align:center
}
	
.case-studies h1{
	padding-top:65px;
}

.case-studies p {
  font-family: "Lato",sans-serif;
  font-size: 16px;
  line-height: 0.7cm;
  opacity: 0.6;
  padding-right: 10px;
  padding-top: 190px;
  text-align: center;
  width: 60%;
}

.case-studies-bottom p{
	width: 90%;
	margin:0 auto
}

.btn-viewcase{
	width: 300px;
	display: block;
	border:1px solid #000;
	border-radius:5px;
	font-weight:300;
	padding: 20px;
	font-size:30px;
	color:#333;
	text-decoration:none;
	font-family: 'Oswald', sans-serif;	
	margin: 35px auto 0 auto;
	text-transform: uppercase;
}
.case-studies-bottom p{
	font-size:21px;
	font-family: 'Lato', sans-serif;
	text-align:center;
	padding-top: 25px;
	}
.case-studies-bottom h4{
	text-align:center;
	padding-top:5px;
	}
.case-studies-bottom h4 a{
	color:#000;
	font-size:26px;
	font-family: 'Oswald', sans-serif;
	text-decoration:underline;
	font-weight:300;
	}

.item img {
  clear: both;
  float: right;
  margin-top: 92px;
}
	
.carousel-caption {
  left: 0%;
  padding-bottom: 30px;
  right: 0;
}	
.carousel-control.left,
.carousel-control.right {
  background-image: none;
}	

.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left {
  color: #333;
  left: -20%;
  margin-left: -10px;
}

.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
   color: #333;
   right: -20%;
   margin-left: -10px;
}

.carousel-indicators{
	display: none
}

blockquote.case-study-quote {
  background-image: url("images/blockquote-left.png");
  background-position: 0 25px;
  background-repeat: no-repeat;
  border-left: 0 none;
  font-family: "Lato",sans-serif;
  font-size: 21px;
  margin: 5px;
  padding-top: 30px;
  text-align: center;
  text-indent: 5px;
  width: 90%;
}

blockquote.case-study-quote span {
    display: block;
	padding-bottom: 10px;
    background-image: url(images/blockquote-right.png);
    background-repeat: no-repeat;
    background-position: bottom right;
} 

blockquote.case-study-quote h4 a{
	color:#000;
	font-size:26px;
	font-family: 'Oswald', sans-serif;
	text-decoration:underline;
	font-weight:300;
	}
/*----------------our blog--------------------------------------------*/
.our-blog{
	background:#FFF;
	background-size:100% 100%;
	height:875px;}
.our-blog h1{
	padding:35px 0 25px 0;
     }
.blog-header{
	width: 80%;
	margin:0 auto 40px
}

.blog-header span{
	display: inline-block;
	width: 47%;
	border-top: 1px solid #e8e8e8
}

.blog-header span.heading-arrow{
	width: 6%;
	border: 0;
	text-align:center
}	 
	 
.our-blog h2 {
  font-family: "Oswald",sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  margin: 15px;
  text-align: left;
}
.our-blog h4{
	font-size:12px;
	text-align:left;
	font-family: 'Lato', sans-serif;
	}
.our-blog p{
	font-size:13.59px;
	text-align:left;
	font-family: 'Lato', sans-serif;
	padding:0 15px 35px;
	border-bottom: 1px solid #ccc
	}
.blog-red-border{
	border:1px solid #F00;
    }
.blog-gray-border{
	border:1px solid #999;
	}
.blog-item{
	width: 355px;
	border:1px solid #ccc
}

.blog-item:hover{
	border-color: #ff0000
}

.blog-item span.date{
	display: block;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 600;
	font-style: italic;
	margin: 15px;
}
.blog-item .blog-item-meta{
	margin: 15px
}

.blog-item .blog-item-meta p{
	display: inline-block;
	width: 49%;
	border: 0;
	margin:0;
	padding:0
}

.blog-item .blog-item-meta p.meta-icons{
	text-align: right
}

.blog-item .blog-item-meta p.meta-icons img{
	margin-right: 5px
}

.blog-item .blog-item-meta p.meta-icons span{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 600;
	font-style: italic
}	

.blog-item .blog-item-meta p a.readmore:link, 
.blog-item .blog-item-meta p a.readmore:visited {
  background: url("images/readmore-arrow.png") no-repeat scroll 95% 6px rgba(0, 0, 0, 0);
  color: #333;
  display: block;
  font-family: "Oswald",sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding-right: 25px;
  text-transform: uppercase;
  width: 110px;
}
/*--------------------------------------resources------------------------------------*/
.resources{
	background:#a54338;
	height:665px;
    }
.resources h1{
	padding:25px 0 5px 0;
	color:#FFF;
	}
.resources .resources-head p {
	text-align:center;}
.resources .resources-head span {
	display: inline-block;
	width: 22.3%;
	height: 5px;
	border-top: 1px solid #FFF;	
	}
.resources-head span.heading-arrow{
	display: inline-block;
	width: 5%;
	padding: 0 20px;
	margin-top: 5px;
	border-top: none;
	text-align: center
	}
.resources-left{
	padding:20px 0 30px 0;
	}

.resource-mini-img{
	padding:25px 0 30px 0;
	}
.resources-description{
}
.resources-description img{
	float: left;
	margin-right: 10px
}
	
.resources-description h2{
	color:#FFF;
	font-size:22px;
	font-weight:300;
	text-align:left;
	font-family: 'Oswald', sans-serif;
	}
.resources-description p{
	color:#FFF;
	text-align:left;
	font-size:16px;
	font-weight:300;
	line-height:0.5cm;
	letter-spacing:0.01cm; 
	font-family: 'Lato', sans-serif;
	}
.resources-description p a{
	font-size:13px;
	color:#FFF;
	text-decoration:underline;
	}
 .resources-button1 .btn-viewmore{
	width: 290px;
	display: block;
	border:1px solid #fff;
	border-radius:5px;
	font-weight:300;
	font-size:30px;
	color:#333;
	text-decoration:none;
	padding:10px 0 2px 0;
	font-family: 'Oswald', sans-serif;	
	text-transform: uppercase;
	background:#a54338;
	margin:0 auto
	}
 .resources-button2 .btn-viewmore{
	width: 285px;
	display: block;
	border:1px solid #fff;
	border-radius:5px;
	font-weight:300;
	font-size:30px;
	color:#333;
	text-decoration:none;
	padding:10px 0 2px 0;
	font-family: 'Oswald', sans-serif;	
	text-transform: uppercase;
	background:#a54338;
	margin:0 auto
	}
.resources-button1 .btn-viewmore p{
	color:#FFF;
	}
.resources-button2 .btn-viewmore p{
	color:#FFF;
	}
/*----------------------client part--------------------------*/
.client-part{
	background:#FFF;
	background-size:100% 100%;
	height:290px;
	}
.client-part h1{
	padding:25px 0 0 0;
	}
	
.client-part .client-head{
	width: 70%;
	margin: 0 auto
}

.client-part .client-head p {
	text-align:center;
	}
.client-part .client-head span{
	display: inline-block;
	width: 45%;
	height: 5px;
	border-top: 1px solid #CCC;	
	}
.client-part .client-head span.heading-arrow{
	display: inline-block;
	width: 5%;
	border-top: none;
	text-align: center
	}
.client-logo{
	padding:20px 0 0 0;
	}
	
.client-part .client-logo img{
	display: inline-block;
	margin-right: 65px
}
.client-part .client-logo img:last-child{
	margin-right: 0
}
/*-------------------------------footer-----------------------------*/
.footer{
	background:#000;
	background-size:100% 100%;
	height:610px;
	}
.footer-1st-part{
	padding-top:60px;
	}
.footer-1st-part h2 {
	font-size:30px;
	font-weight:300;
	color:#FFF;
	font-family: 'Oswald', sans-serif;
	}
.footer-1st-part p{
	padding:0 0 10px 0;
	}
.footer-1st-part p a{
	font-size:24px;
	font-weight:300;
	text-align:left;
	color:#FFF;
	font-family: 'Lato', sans-serif;
	}
.footer-1st-part p a img{
	display:inline;
	padding-right:15px;
	}
glyphicon glyphicon-chevron-right{
	 background:#FFF;
	 }
.footer-2nd-part{
	background:#404040;
	height:610px;
	padding:0 50px;
	}
.footer-2nd-part img{
	padding-top:235px;
	}
.footer-2nd-part P{
	color:#fff;
	font-size:18.48px;
	text-align:center;
	font-family: 'Oswald', sans-serif;
	font-weight:300;
	padding-top:165px;
	}
.footer-3rd-part{
	padding:60px 0 0 0;
	}
.footer-3rd-part h2{
	color:#FFF;
	font-size:30px;
	text-align:left;
	font-weight:300;
	font-family: 'Oswald', sans-serif;
	}
.footer-3rd-part p{
	color:#FFF;
	font-size:17px;
	font-weight:300;
	text-align:left;
	font-family: 'Lato', sans-serif;
	
	}
.get-in-info p{
	color:#FFF;
	font-size:20px;
	text-align:left;
	font-family: 'Lato', sans-serif;
	}
.get-in-info p img{
	display:inline;
	padding-right:20px;
	}
.lets-be-social h2{
	padding:10px 0 0 0;
	}
	
.lets-be-social a:link, 
.lets-be-social a:visited {
	background-color: #fff;
	border-radius: 50%;
	color: #18191a;
	display: inline-block;
	font-size: 36px;
	height: 62px;
	margin-right: 5px;
	padding: 6px;
	text-align: center;
	vertical-align: middle;
	width: 62px;
}

.lets-be-social a:hover{
	background-color: #666666;
	color: #fff
}
	
	
	
.lets-be-social a img{
	display:inline;
	padding: 15px 5px 0 0;
	}